doctype html
html(lang="no")
    head
        meta(charset="UTF-8")
        title Reactive, browserified template
        link(rel="stylesheet", href="site.css")
    body
        .container
            .row
                .small-12.columns
                    h1 Reacive browserified template
                    #view
                    #content
        script(src="bundle.js")
